/* game board table */
.introImg {
	background-image: url("wood_lights.jpeg");
	background-size: 100% 555%;
}
body {
	background-image: url("wood_lights.jpeg");
	background-size: 100% 152.5%;
}
h1 {
	display: flex;
	justify-content: center;
	position: relative;
	top: 35px;
	font-family: 'Righteous', cursive;
	font-size: 3rem;
	color: blanchedalmond;
	opacity: .8;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .2), 1px -1px 0 rgba(0, 0, 0, .2), -1px 1px 0 rgba(0, 0, 0, .2),
		1px 1px 0 rgba(0, 0, 0, .2);
	margin-bottom: 10px;
}
#game {
	display: flex;
	justify-content: center;
	position: relative;
	top: 40px;
}

label {
	color: blanchedalmond;
	opacity: .8;
}

#startBtn {
	position: relative;
	left: 1vw;
	color: blanchedalmond;
	background-color: rgb(75, 41, 9);
	border-radius: .5rem;
	opacity: .7;
	border-width: 1px;
	border-color: blanchedalmond;
	margin: 10px;
	height: 20px;
}

#startgame {
	display: flex;
	position: relative;
	justify-content: center;
	top: 20px;
}

#board td {
	width: 50px;
	height: 50px;
	border: solid 1px #666;
}

tr:not(:first-child) {
	background-image: url("wood.jpeg");
	opacity: .6;
	background-size: cover;
}
#container {
	display: flex;
	justify-content: center;
}
#restartBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	position: relative;
	left: 1vw;
	top: 8px;
	color: blanchedalmond;
	background-color: rgb(75, 41, 9);
	border-radius: .5rem;
	opacity: .7;
	border-width: 1px;
	border-color: blanchedalmond;
}

input {
	color: blanchedalmond;
	background-color: rgb(75, 41, 9);
	border-radius: .5rem;
	opacity: .7;
	border-width: 1px;
	border-color: blanchedalmond;
	margin: 10px;
}
/* pieces are div within game table cells: draw as colored circles */

.piece {
	margin: 5px;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
}

.p1 {
	background-color: rgb(0, 95, 158);
}

.p2 {
	background-color: rgb(214, 36, 36);
}
/* column-top is table row of clickable areas for each column */

#column-top td {
	border: dashed 1px lightgray;
}

#column-top td:hover {
	background-color: rgba(35, 182, 182, 0.4);
}
@media (max-width: 415px) {
	body {
		background-size: 100% 200%;
	}
	#board td {
		width: 2.5rem;
		height: 2.5rem;
	}
	.piece {
		margin: 4px;
	}
	#startBtn {
		left: -10px;
	}
	#restartBtn {
		left: -10px;
		top: 8px;
	}
}
@media (max-width: 378px) {
	#startBtn {
		width: 100px;
		left: -5px;
	}
	#restartBtn {
		left: -10px;
	}
}

@media (max-width: 340px) {
	body {
		background-size: 100% 200%;
	}
	#board td {
		width: 1.7rem;
		height: 1.7rem;
	}
	.piece {
		margin: 3px;
	}
	#restartBtn {
		left: 5px;
		top: 5px;
	}
	input {
		margin: 2px;
		font-size: 10px;
	}
	#startBtn {
		margin: 2px;
		left: 2px;
		font-size: 10px;
		height: 15px;
		width: 80px;
	}
	label {
		font-size: 14px;
	}
}

@media (max-width: 258px) {
	#startBtn {
		top: 0px;
	}
}

@media (max-width: 250px) {
	.introImg {
		background-image: url("wood_lights.jpeg");
		background-size: 100% 600%;
	}
	body {
		background-size: 100% 250%;
	}
	#board td {
		width: 1.3rem;
		height: 1.3rem;
	}
	h1 {
		font-size: 2rem;
	}
	.piece {
		margin: 2.4px;
	}
	#startBtn {
		top: 15px;
	}
	#restartBtn {
		top: 10px;
	}
	label {
		font-size: 12px;
	}
}
@media (max-width: 206px) {
	body {
		background-size: 100% 290%;
	}
	#board td {
		width: 1rem;
		height: 1rem;
	}
	h1 {
		font-size: 1.5rem;
	}
	.piece {
		margin: 2px;
	}
}
@media (max-width: 195px) {
	#startBtn {
		width: 100px;
		height: 15px;
		top: 15px;
	}
}
@media (max-width: 168px) {
	#startBtn {
		width: 100px;
		height: 25px;
		top: 10px;
	}
}
